<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="prognostic_and_health_management_PHM_.Properties.Settings.PHMModelDBConnectionString"
            connectionString="Data Source=192.168.0.81;Initial Catalog=PHMModelDB;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>